#editListCancelBtn {
    display: none
}

#editListInput {
    display:none;
    height: 15px;
    font-size: 16px;
}

#updateListName {
    display: none;
}

.listBtns > p:hover {
    cursor: pointer;
}

#allTasks:hover {
    cursor:pointer;
}

#inbox, #lists {
    font-weight: bolder;
}

#fa-edit {
    z-index: 1;
    margin-top: 16px
}

.listBtns {
    width: 100%;
}

.addList {
    display: flex;
}

#plusfa {
    margin-left: 5px;
    margin-top: 17px;
    display: flex;
    /* justify-content: flex-end; */
}

#updateListName {
    color: green;
}

#editListCancelBtn {
    color: red;
}

#errorMsg {
    color: red;
    background-color: transparent;
}

.userLists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.lists {
    margin-left: 10px;
}

/* .listBtns {
    display: flex;
} */
