#editListCancelBtn {
    display: none
}

#editListInput {
    display:none;
    height: 15px;
    font-size: 16px;
    width: 65%;
}

#newListInput {
    height: 15px;
    font-size: 15px;
}

#addListPlus {
    font-size: 1.3em;
}

#updateListName {
    display: none;
    width: 30px;
    height: 20px;
    color: white;
    background-color: green;
}

.listBtns > form {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    display: none;
}

.btns {
    display: flex;
}

.editingBtns {
    display: flex;
    width: 100px;
}

.listBtns > p:hover {
    cursor: pointer;
}

#allTasks:hover {
    cursor:pointer;
}

#inbox, #lists {
    font-weight: bolder;
}

#fa-edit {
    z-index: 1;
    margin-top: 16px
}

.listBtns {
    width: 100%;
}

.addList {
    display: flex;
}

#plusfa {
    margin-left: 5px;
    margin-top: 17px;
    display: flex;
    /* justify-content: flex-end; */
}

#editListCancelBtn {
    color: white;
    background-color: red;
    width: 30px;
    height: 20px;
    margin-left: 1px;
    /* padding-top: 4px;
    margin-left: 4px;
    margin-top: 3px; */
}

#errorMsg {
    color: red;
    background-color: transparent;
}

.userLists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.lists {
    margin-left: 10px;
}

/* .listBtns {
    display: flex;
} */
