#editListCancelBtn {
    display: none
}

#editListInput {
    display:none
}

#updateListName {
    display: none;
}

.listBtns > p:hover {
    cursor: pointer;
}

#allTasks:hover {
    cursor:pointer;
}

#inbox, #lists {
    font-weight: bolder;
}

#fa-edit {
    z-index: 1
}
