.listsTasksContainer {
    display: flex;
    align-items: stretch;
    min-height: 500px;
    border-radius: 1%;
}

.listTasksContainer {
    border-radius: 1%;
}
/*
.listContainer {
    display: flex;
    justify-content: center;
} */

/* form {
    display:flex;
    justify-content: center;
} */

button {
    cursor: pointer;
}

.deleteBtnList {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

#deleteBtn {
    background-color: #013274    ;
    color: white;
    font-size: 15px;
    padding: 5px;
}

#addTaskBtn {
    background-color: #2F8CEB;
    color: white;
    font-size: 15px;
    padding: 5px;
    display: flex;
    align-self: flex-end;
}

.deleteBtns button {
    background-color: #013274;
    color: white;
    font-size: 15px;
    padding: 5px;
}

.addTaskBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 104px;
}

#taskInput {
    width: 80%;
    height: 50px;
    margin-left: 10px;
}

form {
    display: flex;
    justify-content: flex-start;
}

.icons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.completeInc {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 60px; */
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 5px;
}

#comp {
    margin-right: 20px;
    cursor: pointer;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

#incomp {
    margin-right: 20px;
    cursor:pointer;
    font-weight: bold;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

#completed {
    color:green;
    font-size: 25px;
    border: solid 2px green;
    margin-left: 5px
}

.doneTask {
    text-decoration: line-through;
}

.checkboxTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.checkboxTitle > div {
    display: flex;
    align-items: center;
}

#errorMsg {
    color: red;
    background-color: transparent;
}
