.navbar {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    margin-top: 0;
    background-color: #5f43b2;
    /* height: fit-content; */
    /* display: block; */
    /* color: white; */
}

li {
    color: white
}

#welcome {
    font-size: 17px;
    color: white
}

.searchBar {
    color: #4383CC;
    /* justify-content:left; */
    width: 70px;
    /* height:fit-content */
}

#homeBtn {
    height: 47px;
    width: 47px;
    color:black;
}
