.navbar {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    margin-top: 0;
    background-color: #0060bf;
    height: 40px;
    /* display: block; */
    /* color: white; */
}

li {
    color: white
}

.searchBar {
    color: #4383CC;
    /* justify-content:left; */
    width: 70px
}

#homeBtn {
    /* height: 50px;
    width: 50px */
    color:black;
}
