/* .tasksListsDisplay {
    background-color: #FFFFFF;
    margin-bottom: 0;
    height: 100%;

}

.taskInfoContainer {
    height: 500px;
    display: flex;
    align-items: stretch;
    bottom: 0
    min-height: 500px

}
*/
.taskSelectedInfoContainer {
    display:flex;
    flex-direction: column;
    box-shadow: -2px 0 0 #d9d9d9;
    border-radius: 1%;

}

.editBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

#editTaskBtn {
    display: flex;
    align-self: flex-start;
}

#taskdue, #listName, #titlename {
    width: fit-content;
}

#taskdue:hover, #listName:hover, #titlename:hover {
    border: solid black 1px;
}

#dueTimeChange {
    display: none;
}

#taskdue {
    display:block;
}

#newListOptions {
    display: none;
}

#titleChange {
    display: none;
}

#confirmTitle {
    display: none;
}
