/* .tasksListsDisplay {
    background-color: #FFFFFF;
    margin-bottom: 0;
    height: 100%;

}

.taskInfoContainer {
    height: 500px;
    display: flex;
    align-items: stretch;
    bottom: 0
    min-height: 500px

}
*/


.taskInfoContainer {
    position:relative;
}

.tasksListDisplay {
    margin-left: 5px
}

.taskSelectedInfoContainer {
    display:flex;
    flex-direction: column;
    box-shadow: -2px 0 0 #d9d9d9;
    border-radius: 1%;
    background-color: #efeeef;

}

.showContainer, .unshowContainer {
    margin-left: 25px;
    margin-top: 40px;
    top: 9px;
}

.editBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

#editTaskBtn {
    display: flex;
    align-self: flex-start;
}

#taskdue, #listName {
    width: fit-content;
}

#titlename, #titleChange {
    font-size: 18px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
    margin-left: 5px;
}

#titleChange {
    height: 18px;
    width: 98%;
    /* font-size: 18px; */
}

.dueListContainer {
    margin-top: 15px;
    margin-left: 25px;
}

.changeListContainer {
    display:flex;
    margin-top: 20px;
}

.changeTitleContainer {
    border-left: 2px solid #ccc;
    /* margin-left: 5px; */
}

#taskdue:hover, #listName:hover, #titlename:hover {
    border: solid black 1px;
}

#dueTimeChange {
    display: none;
    height: 20px;
    font-size: 16px;
    width:fit-content;
}

.footer {
    display: flex;
    /* justify-content: flex-start; */
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #62676b;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
    font-size: 12px;
    margin-left: 25px;
    margin-bottom: 30px;
}

#taskdue {
    display:inline-block;
}

#dueText {
    display: inline-block;
    margin-right: 20px;
    color: #999;
}

#listText {
    margin-right: 27px;
    color: #999;

}

#newListOptions {
    display: none;
}

#titleChange {
    display: none;
}

#confirmTitleBtn {
    display: none;
    background-color: #5E44B2;
    color: white;
}

.editingDue {
    display:flex;

}

.incCompleteTasks {
    display: flex;
}

#complete {
    color: #5f43b2;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
}

.incompletedNum {
    color: rgba(0,0,0,0.4);
    background-color: #B1AEBB;
    vertical-align: top;
    display: inline-block;
    padding: 9px 13px;
    margin-right: 5px;
    /* line-height: 100%; */
    border-radius: 5px;
    height: fit-content;
}

.completedNum {
    background-color: #B1AEBB;
    vertical-align: top;
    display: inline-block;
    padding: 9px 13px;
    margin-right: 5px;
    /* line-height: 100%; */
    border-radius: 5px;
    height: fit-content;
}

#tasksText, #completedText {
    font-size: .75rem
}

#complete, #incomplete {
    font-size: 1.1875rem;
}
