.signup {
    display:flex;
}

.leftSide {
    height: 100vh;
    width: 50%;
    background-color: #5f43b2;
    flex-direction: column;
}

.rightSide {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    background-color: white;
}

.form {
    width: 60%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 140px 60px 0;

    /* width: fit-content; */
}

#topLogo {
    color: white;
    font-size: 30px;
}

#logoPic {
    height: 200px;
    width: 200px;
}

.imagesMiddle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20%;
    /* margin-left:25px;
    margin-right: 55px; */
}

.text {
    width:100%;
    display: flex;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    width:100%;
}
#underImageText {
    color: #fff;
    opacity: .5;
    font-size: 28px;
    font-weight: 500;
    margin: 27px 0 0 2px;
    line-height: 120%;
    max-width: 420px;
}

img {
    width: 100px;
    margin-right: 23px;
}

#signupHeading {
    font-size: 21px;
    color: #000;
    margin-bottom: 28px;
    margin-top: 20px;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1
}

form > div {
    padding-bottom: 10px;
}

input {
    font-size: 25px;
    width: 100%;
    height: 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:hover {
    border-color: #5f43b2;
    box-shadow: 0 0 2px #5f43b2
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 48px;
    background-color:#5f43b2;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#submitBtn:hover {
    opacity: 0.7;
}

.loginBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
    margin-right: 300px;
}

#logButton {
    color: rgba(0, 0, 0, 0.5);
    background-color:#b1aebb;
    border-color: transparent;
    padding: 5px 11px 4px;
    font-weight: 700;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
